<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Rest Assured learning">

    <test name="Create User Details" >
        <parameter name="userCreationURL" value="https://reqres.in/api/users"></parameter>
        <parameter name="SSNno" value="980987678"></parameter>
        <parameter name="userName" value="Test_User1"></parameter>
        <parameter name="CelsiusToFahrenheitURL" value="https://www.w3schools.com/xml/tempconvert.asmx"></parameter>
        <parameter name="celsius" value="37"></parameter>
        <parameter name="fahrenheit" value="98.6"></parameter>

        <classes>
            <class name="createUserList.CreateNewUser" />
        </classes>
    </test>

    <test name="post call to add a product and validate response" >
        <parameter name="addProductURL" value="https://api.restful-api.dev/objects"></parameter>
        <parameter name="productName" value="Apple MacBook Pro 16"></parameter>
        <parameter name="expectedYear" value="2019"></parameter>
        <parameter name="expectedPrice" value="1849.99"></parameter>

        <classes>
            <class name="addNewProduct.ValidateAddNewProduct" />
        </classes>
    </test>

</suite>